<div class="intro">
  Max's Redirector (url shortener) <br>
  <a href="http://maxpleaner.com">maxpleaner.com</a> <br>
  <a href="http://github.com/maxpleaner/url-shortener">
    github.com/maxpleaner/url-shortener
  </a>
</div>

<div class="url-form-holder">
  <form id="url-form" action="">
    <label for="url-input">
      Enter URL <br>
      <b>Please make sure to put 'http://' or 'https://' at the beginning</b>
    </label> <br>
    <input type="text" id="url-input" name="url[urlInput]"> <br>
    <input type="submit" value="submit">
  </form>
</div>

<div class="results-holder">
</div>

<div class="alias-success-holder"></div>
<div class="alert-holder"></div>

<div class="url-list-holder">
  <form id="url-list" action="">
    <label for="url-input">
      Or enter a URL here to see what shortened URLs have already been created
    </label> <br>
    <input type="text" id="url-input" name="url[urlInput]"> <br>
    <input type="submit" value="submit">
  </form>
</div>

<div class="search-results"></div>
